.table__container {
  width: 90vw;
  max-width: 1220px;

  table {
    padding: 2rem 5rem 2rem 0;
    text-align: center;
    background: var(--gray-850);
    border-radius: 1rem;
    font-family: Poppins, sans-serif;

    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
  }

  thead {
    text-transform: uppercase;
    tr {
      font-size: 1.5rem;
      td {
        padding-bottom: 2rem !important;
      }
    }
  }

  td {
    border-bottom: 1px solid var(--gray-900);
  }

  tr {
    font-size: 1.2rem;

    button:first-child {
      border: 0;
      background: none;
      color: var(--green);
      margin-left: 1rem;
      margin-right: 1rem;
    }
    button {
      border: 0;
      background: none;
      color: #e63946;
    }
  }

  .negative {
    color: #e63946;
  }
  .positive {
    color: var(--green);
  }

  @media (max-width: 800px) {
    table {
      width: 90vw;
    }
  }

  @media (max-width: 1000px) {
    table {
      display: block;
    }
  }
}
