* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;

  --gray-100: #e1e1e6;
  --gray-300: #a8a8b3;
  --gray-800: #29292e;
  --gray-850: #0d1321;
  --gray-900: #030c05;

  --green: #2a9d8f;

  --yellow: #eba417;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background-color: var(--gray-900);
  color: var(--gray-100);
  overflow-x: hidden;
}

body,
input,
textarea,
select,
label,
button {
  font: 400 1rem 'Roboto', sans-serif;
  outline: 0;
}

button {
  cursor: pointer;
  transition: ease-in 0.2s;
}

button:hover {
  filter: brightness(2);
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  background: var(--gray-900);
  width: 0.6rem;
  height: 0.8rem;
}
::-webkit-scrollbar-thumb {
  background: var(--green);
  border-radius: 1rem;
}

.ReactModal__Overlay {
  background-color: rgba(255, 255, 255, 0.25) !important;
}

.ReactModal__Content {
  border-radius: 1rem !important;
}
