.home__container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;


  @media (max-width: 1120px) {
    flex-direction: column-reverse;
  }

  > main {
    display: flex;
    flex-direction: column;
    align-items: center;

    > aside {
      width: 100%;
      display: flex;
      border-radius: 2rem;

      button {
        padding: 1rem;
        width: 100%;
        border-radius: 1rem 0 0 0;
        color: var(--gray-100);
        background: var(--gray-900);
        border: 0;
      }

      button:last-child {
        border-radius: 0 1rem 0 0;
      }

      .active {
        background: var(--gray-850);
      }
    }
  }
}
